@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

.sideBar button:focus{
    outline: none !important;
    border: none !important;
}

.imgButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/*Card*/

.tarjeta{
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    padding: 10px 5px;
    text-align: center;
    color: #00324d;
    box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.2);
}
.imgCard{   
    border-radius: 20px;
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.imgCard img{
    width: 190px;
    height: 170px;
}

audio{
    width: 100%;
}

.descriptionCard h2{
    font-size: 1.1rem;
}

.prueba{
    margin-left: 0;
}


/*Categorias*/
.offcanvas-title{
    color: #00324d;
}
.dropdown ul {
    list-style: none;
    color:#00324d
}
.dropdown ul li a{
    margin-top: 10px;
    font-weight: 500;
}
#selected{
    border-right: 5px solid #39a300 ;
}
.categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoria{
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 50px;
}

.imgCategoria{
    background-color: #39a300;
    padding: 20px;
    border-radius: 50px;
}
.imgCategoria img{
    width: 35px;
}

.textCategoria h2{
    color: #00324d;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.textCategoria span{
    font-family: 'Work Sans', sans-serif;
    color: #ced4da;
    font-weight: bold;
}

.categories .dropdown{
    border: solid 2px #39a300;
    border-radius: 16px;
}

.categories .dropdown .dropi{
    color: #39a300;
    font-weight: 500;
}

.categories .dropdown .dropi:focus{
    border: none !important;
    color: #39a300;
}

.categories .dropdown .dropi:hover{
    outline: none !important;
    border: none !important;
    color: #39a300;
}

.categories .dropdown ul button{
    color: #00324d;
    font-weight: 500;
}

.categories .dropdown ul button:hover{
    outline: none !important;
    border: none !important;
    color: #39a300;
}

.botonesVocabulario{
    display: flex;
    align-items: center;
    gap: 30px;
}

.botonInsertar{
    display: flex;
    align-items: center;
    gap: 5px;
}

.botonInsertarText span{
    color: #39a300;
    font-weight: 500;
}

.botonInsertar img{
    width: 40px;
}

.Insertar{
    padding: 1px;
    border-radius: 50px;
    border: none;
    background-color: #39a300;
}

/*Modal Añadir*/
.modal-header h1{
    color: #00324d;
}
.name{
    color: #00324d;
    font-weight: 500;
}
.image{
    color: #00324d;
    font-weight: 500;
}
.audio{
    color:#00324d;
    font-weight: 500;
}
.add{
    background-color: #39a300 !important;
    color: #fafafa !important;
}

/*Footer*/

footer{
    background-color: #ebebeb;
    margin-bottom: 0px;
}
footer .iconos{
    text-align: center;
}
footer .iconos img:hover{
    transform: translateY(-3px);
    transition: .5s;
}
footer .iconos a img{
    margin: 10px;
}
footer .socialSena{
    text-align: center;
    color: #495057;
}
    
.socialSena h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    color: #495057;
}
footer a{
    text-decoration: none;
}
footer .urlSena h3{
    color: #7a7a7a;
}
    
footer .urlSena {
    text-align: center;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}
footer h3{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
}
.iconos{
    margin-top: 50px;
}





